* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
body {
    overflow: hidden;
    background-color: black;
}
#flexer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#images {
    position: relative;
    width: 110vh;
    height:100vh;
}
img {
    position: absolute;
}
#well-down{
    height: 95vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
}
#nav {
    width: 100vw;
    top: 80vh;
    height:20vh;
    /* background-color: red; */
    justify-content: space-between;
    
}
#mini_menu {
    width: 100%;
    justify-content: space-between;
    top: 30%;
    /* left: 50%;
    transform: translateX(-50%); */
    display: none;
}
.mini {
    width: 20%;
    font-size: 30px;
    box-sizing: border-box;
}
#release {
    position:absolute;
    width: 40%;
    left: 50%;
    top: 40%;
    transform: translate(-55%,-50%);
    display: none;
}
.home {
    width: 25vw;
    font-size: 40px;
}
button {
    /* height: 33%; */
    overflow:hidden;
    font-family: 'Reenie Beanie', cursive; 
    
    font-weight: bold;
    color: rgb(36, 10, 10);
    padding: 10px;
    background-color: rgb(170, 32, 32);
    border: outset maroon 5px;
    box-sizing: border-box;
    margin: 20px;
}

button:hover {
    background-color: rgb(126, 21, 21);
    padding-top: 15px;
    padding-bottom: 5px;
    border: inset maroon 5px;
    color: black;
    cursor:pointer;
}

#unfolded {
    position: absolute;
    background-color: white;
    font-family: 'Reenie Beanie', cursive; 
    font-size: 40px;
    width: 60%;
    text-align: center;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    padding: 20px;
    z-index: 3;
    box-sizing: border-box;
    border: 3px solid gray;
}
#submit {
    cursor: pointer;
}
#paper {
    width: 35%;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
}
.gone {
    transform: translate(-50%,50%) scale(0.01) ;
    opacity: 0%;
}
@keyframes drop {
    0% {
        transform: translate(-50%,-50%) scale(1) ;
        opacity: 100%;
    }
    60% {
        opacity:100%;
    }
    100% {
        transform: translate(-50%,20vh) scale(0.01) ;
        opacity: 0%;
    }
    
}

#secret-button {
    display: none;
}
@keyframes materialize {
    0% {
        opacity: 0%;
        cursor: default;
    }
    70% {
        opacity: 0%;
        cursor: default;
    }
    90% {
        opacity: 100%;
        cursor: pointer;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 500px) {
    .mini {
        width: 24%;
        font-size: 20px;
        box-sizing: border-box;
        margin: 1px;
    }
    #unfolded {
        font-size: 30px;
        width: 90%;
        border: 2px solid gray;
    }
    .home {
        width: 35vw;
        font-size: 30px;
    }
    body {
        overflow-x: hidden;
    }
}
